# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vscode
.vscode/

# build 
build/
debug/

# run log
log/

# 词典文件
vocabulary/ORBvoc.txt
vocabulary/ORBvoc.txt.tar.gz
vocabulary/*voc.txt
vocabulary/*voc.txt.tar.gz

vocabulary/image_save2/
vocabulary/image_save/
vocabulary/image_save.tar.gz
